.app{
    text-align: center;
    font-size: 18px;
    margin: 30px 0;
}

.btn{
    padding: 8px 24px;
    font-weight: 500;
    font-size: 18px;
    border: none;
    background: #E63537;
    border-radius: 3px;
    color: #ffffff;
}

.btn:hover{
    background: #252525;  
    cursor: pointer;
}